<h1><%= item.title %></h1>

<div class="row">
  <div class="span4">
    <p><img class="img-polaroid" src="<%= item.image_url %>" /></p>

    <p><%= line_chart item.prices.collect { |p| [p.retrieved_at, p.kindle_price.to_f / 100] } %></p>
  </div>

  <div class="span8">
    <dl class="dl-horizontal">
      <dt>ASIN</dt>
      <dd><%= item.asin %></dd>

      <dt>author</dt>
      <dd><%= item.author %></dd>

      <dt>publisher</dt>
      <dd><%= item.publisher %></dd>

      <dt>book price</dt>
      <dd><%= item.book_price.format_price %></dd>

      <dt>pages</dt>
      <dd><%= item.num_of_pages %></dd>

      <dt>review</dt>
      <dd><%= item.review %></dd>

      <dt>纸书出版日期</dt>
      <dd><%= item.publication_date ? item.publication_date.strftime(FreeKindleCN::DATE_FORMAT) : "-" %></dd>

      <dt>电子书出版日期</dt>
      <dd><%= item.release_date ? item.release_date.strftime(FreeKindleCN::DATE_FORMAT) : "-" %></dd>

      <dt>created at</dt>
      <dd><%= item.created_at.strftime(FreeKindleCN::DATETIME_FORMAT) %></dd>

      <dt>updated at</dt>
      <dd><%= item.updated_at.strftime(FreeKindleCN::DATETIME_FORMAT) %></dd>
    </dl>

    <h2>Price History</h2>

    <table class="table table-condensed table-bordered" style='width:400px'>
      <thead>
        <tr>
          <th>#</th>
          <th>retrieved at</th>
          <th>book price</th>
          <th>kindle price</th>
        </tr>
      </thead>
      <tbody>
      <% item.prices.each do |price| %>
        <tr>
          <td><%= price.id %>
          <td><%= price.retrieved_at.strftime(FreeKindleCN::DATETIME_FORMAT) %></td>
          <td><%= price.book_price.format_price %></td>
          <td><%= price.kindle_price.format_price %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <h2>Twitter</h2>

    <pre>
#Kindle今日特价书 <%= item.title %> - <%= item.author %>
纸书<%= item.book_price.format_price %> / Kindle版原价<%= item.previous_kindle_price.format_price %> / 今日特价<%= item.kindle_price.format_price %> (<%= item.formatted_discount_rate %>，省<%= item.save_amount %>)
购买: http://goldread.net/dp/<%= item.asin %>
    </pre>
  </div>
</div>
