<h1><%= item.title %></h1>

<div class="row">
  <div class="span4">
    <p><img class="img-polaroid" src="<%= item.image_url %>" /></p>

    <p class="text-center"><a href="<%= item.details_url %>">购买</a></p>

    <p><%= line_chart prices_data_for_chart(item) %></p>
  </div>

  <div class="span8">
    <dl class="dl-horizontal">
      <dt>ASIN</dt>
      <dd><%= item.asin %></dd>

      <dt>author</dt>
      <dd><%= item.author %></dd>

      <dt>publisher</dt>
      <dd><%= item.publisher %></dd>

      <dt>book price</dt>
      <dd><%= item.book_price.format_price %></dd>

      <dt>pages</dt>
      <dd><%= item.num_of_pages %></dd>

      <dt>review</dt>
      <dd><%= item.review %></dd>

      <dt>纸书出版日期</dt>
      <dd><%= item.publication_date ? item.publication_date.strftime(FreeKindleCN::DATE_FORMAT) : "-" %></dd>

      <dt>电子书出版日期</dt>
      <dd><%= item.release_date ? item.release_date.strftime(FreeKindleCN::DATE_FORMAT) : "-" %></dd>

      <dt>created at</dt>
      <dd><%= item.created_at.strftime(FreeKindleCN::DATETIME_FORMAT) %></dd>

      <dt>updated at</dt>
      <dd><%= item.updated_at.strftime(FreeKindleCN::DATETIME_FORMAT) %></dd>
    </dl>

    <h2>Price History</h2>
    <table class="table table-condensed table-bordered" style='width:300px'>
      <thead>
        <tr>
          <th>#</th>
          <th>retrieved at</th>
          <th>kindle price</th>
        </tr>
      </thead>
      <tbody>
      <% item.prices.each do |price| %>
        <tr>
          <td><%= price.id %>
          <td><%= price.retrieved_at.strftime(FreeKindleCN::DATETIME_FORMAT) %></td>
          <td><%= price.kindle_price.format_price %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <h2>Twitter</h2>

    <script type="text/javascript">
      var tweet_text_body = <%= tweet_template(item).to_json %>;

      function set_tweet_text() {
        $('#tweet_text').text($('input:radio[name=tweet_hashtag]:checked').val() + " " + tweet_text_body);
      }

      function tweet_text_remaining() {
        var media_url_length = 23; // characters_reserved_per_media
        var length = 140 - ($('#tweet_upload_picture').is(':checked') ? media_url_length : 0);
        var remaining = length - twttr.txt.getTweetLength($('#tweet_text').val());
        $('#tweet_text_remaining').text(remaining);
      }

      $(function() {
        set_tweet_text();
        tweet_text_remaining();

        $('input:radio[name=tweet_hashtag]').change(function() {
          set_tweet_text();
          tweet_text_remaining();
        });

        // TODO: difference between on and change ?
        $('#tweet_text').on("propertychange input textInput", tweet_text_remaining);

        $('#tweet_upload_picture').change(tweet_text_remaining);
      });
    </script>

    <form action="<%= url("/tweet") %>" method="POST">
      <input type="hidden" name="tweet_image_url" value="<%= item.image_url %>">

      <label class="checkbox">
        <input type="checkbox" name="tweet_to[twitter]" checked>Twitter
      </label>

      <label class="checkbox">
        <input type="checkbox" name="tweet_to[weibo]" checked>Weibo
      </label>

      <label class="radio">
        <input type="radio" name="tweet_hashtag" value="#Kindle今日特价书">#Kindle今日特价书
      </label>
      <label class="radio">
        <input type="radio" name="tweet_hashtag" value="#Kindle好书推荐" checked>#Kindle好书推荐
      </label>

      <textarea id="tweet_text" name="tweet_text" class="input-xxlarge" rows="3"></textarea>

      <label class="checkbox">
        <input type="checkbox" name="tweet_upload_picture" id="tweet_upload_picture" checked>包含图片
      </label>

      <label>
        Remaining: <span id="tweet_text_remaining">...</span>
      </label>

      <input type="submit" name="submit" value="Tweet!">
    </form>
  </div>
</div>
