<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>ASIN</th>
      <th>title</th>
      <th>author</th>
      <th>book</th>
      <th>kindle</th>
      <th>discount</th>
      <th>amazon</th>
      <th>douban</th>
      <th>notes</th>
    </tr>
  </thead>
  <tbody>
  <% items.each do |item| %>
    <tr <%= "class='error'" if item.deleted %>>
      <td><%= item.id %></td>
      <td><a href="<%= url("dp/#{item.asin}") %>"><%= item.asin %></a></td>
      <td><a href="<%= item.details_url %>"><%= (item.title || "")[0..20] %></a></td>
      <td><%= (item.author || "")[0..10] %></td>
      <td><a href="<%= item.preferred_binding.amazon_url rescue "#" %>"><%= item.book_price.format_price %></a></td>
      <td><%= price_color(item) %></td>
      <td><%= item.formatted_discount_rate %></td>
      <td><%= item.rating_by_source('amazon').display %></td>
      <td><a href="<%= item.preferred_binding.douban_page_url rescue "#" %>"><%= item.rating_by_source('douban').display %></a></td>
      <td><%= item.alternate_kindle_versions.empty? ? "-" : "K" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
