<ul class="nav nav-pills">
  <%= item_filter_menu(current_filter) %>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">More <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Item1</a>
      </li>
      <li>
        <a href="#">Item2</a>
      </li>
      <li>
        <a href="#">Item3</a>
      </li>
    </ul>
  </li>
</ul>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>ASIN</th>
      <th>title</th>
      <th>author</th>
      <th>book</th>
      <th>kindle</th>
      <th>discount</th>
      <th>amazon</th>
      <th>douban</th>
      <th>notes</th>
    </tr>
  </thead>
  <tbody>
  <% items.each do |item| %>
    <% item_tr_css_class = tr_color(item) %>
    <tr <%= "class='#{item_tr_css_class}'" if item_tr_css_class %>>
      <td><%= item.id %></td>
      <td><a href="<%= url("dp/#{item.asin}") %>"><%= item.asin %></a></td>
      <td><a href="<%= item.details_url %>"><%= (item.title || "")[0..20] %></a></td>
      <td><%= (item.author || "")[0..10] %></td>
      <td><a href="<%= FreeKindleCN::Item.amazon_url(item.book_asin) rescue "#" %>"><%= item.book_price.format_price %></a></td>
      <td><%= price_color(item) %></td>
      <td><%= FreeKindleCN::Item.formatted_discount_rate(item.discount_rate) %></td>
      <td><%= FreeKindleCN::Item.formatted_rating(item.amazon_average, item.amazon_votes) %></td>
      <td><a href="<%= FreeKindleCN::Item.douban_page_url(douban_id) rescue "#" %>"><%= FreeKindleCN::Item.formatted_rating(item.douban_average, item.douban_votes) %></a></td>
      <td><%= note(item) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate items, renderer: BootstrapPagination::Sinatra unless current_filter == :all %>
